.navbar-links {
    display: flex;
}
.navbar-link {
    text-decoration: none;
    color: var(--medium-gray);
}
.navbar-link:hover {
    color: var(--almost-black);
}

@media only screen and (max-width: 1999px) {
    .navbar-links {
        flex-direction: column;
        margin: 0px;
    }
    .navbar-link {
        margin: 10px 0px;
        font-size: inherit;
    }
}
@media only screen and (min-width: 1200px) {
    .navbar-links {
        flex-direction: row;
        margin: 0px 0px 0px 20px;
    }
    .navbar-link {
        margin: 0px 16px;
        font-size: 16px;
    }
}